version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./dist/my_task_management/browser:/usr/share/nginx/html
    restart: always
